.tableTop {
    background-color: grey;
    margin-top: -2%;
}

.elementList h1 {
    font-family: 'Times New Roman'; /* Choose a readable font-family */
    font-size: 48px; /* Set the font size */
    color: #333; /* Set text color to a dark shade of grey */
    text-align: center; /* Center align the text */
    letter-spacing: 4px; /* Add letter spacing between characters */
    margin: 0; /* Remove default margin */
    padding: 0px; /* Add some padding for breathing room */
    border: 2px solid #666; /* Set a darker grey border */
    border-radius: 10px; /* Optional: Round the corners */
    background-color: #9e9d9d; /* Set a lighter grey background color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.elementList h2 {
    font-family: 'Times New Roman'; /* A readable font-family */
    font-size: 2vw;
    font-weight: lighter;
    color: #333; /* Text color to a dark shade of grey */
    text-align: center;
}

.elementList ul {
    display: flex;
    justify-content: space-evenly;
}

.elementList li {
    list-style-type: none;
}

.telement {
    border-radius: 2%;
    background: radial-gradient(circle, #666, #333);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    width: 20vw;
    border-left: 2px 2px white;
}
.telement p {
    font-family: 'Times New Roman';
    font-size: 1.5vw;
    color: #000;
    margin: 20px 0;
    padding: 0 20px;
}

.telement a {
    font-family: 'Times New Roman';
    font-size: 1.0vw;
    color: #000;
    text-decoration: none;
}

.telement a:hover {
    color:  #666;
    text-decoration: underline;
}

/* Mobile view */
@media (max-width: 768px) {
    /* View for different text, descending hierarchal order */
    .tableTop {
        margin-top: 0;
        margin-bottom: -10%;
    }
    .elementList h2 {
        font-size: 15px;
    }
    .elementList h3 {
        font-size: 10px;
    }
    .elementList p {
        width: 100%;
        margin-left: -30%;
        font-size: 2vw;
    }
    .telement {
        box-shadow: none;
    }

}