.tableTop {
    background-color: grey;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 2%;
}

.elementList h1 {
    font-family: 'Times New Roman';
    font-size: 48px;
    color: #333;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
    padding: 0px;
    border: 2px solid #666;
    border-radius: 10px;
    background-color: #9e9d9d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.elementList h2 {
    font-family: 'Times New Roman';
    font-size: 2vw;
    font-weight: lighter;
    color: #333;
    text-align: center;
}

.elementList ul {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-between;

}

.elementList li {
    margin-bottom: 20px;
    list-style: none;
    width: 20vw;
}

.elementList li img {
    width: 60%;
    height: 33%;
    border-radius: 5%;
}

.telement {
    border-radius: 2%;
    background: radial-gradient(circle, #666, #333);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    width: 20vw;
    border-left: 2px 2px white;
}

.telement p {
    font-family: 'Times New Roman';
    font-size: 1.5vw;
    color: #000;
    margin: 20px 0;
    padding: 0 20px;
}

.telement a {
    font-family: 'Times New Roman';
    font-size: 1.0vw;
    color: #000;
    text-decoration: none;
}

.telement a:hover {
    color:  #666;
    text-decoration: underline;
}

/* Mobile view */
@media (max-width: 768px) {
    /* View for different text, descending hierarchal order */
    .tableTop {
        margin-top: 0;
        margin-bottom: -10%;
    }
    .elementList h2 {
        font-size: 15px;
    }
    .elementList h3 {
        font-size: 10px;
    }
    .elementList p {
        width: 90%;
        margin-left: -15%;
        font-size: 2vw;
    }

    .elementList li {
        margin-bottom: 20px;
        list-style: none;
        width: 24vw;
    }

    .elementList li img {
        width: 60%;
        height: 20%;
        border-radius: 5%;
        margin-bottom: 10px;
    }

    .telement {
        box-shadow: none;
    }

}